body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.chicken{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height:88%;
    color: honeydew;
    float: right;
    background-color: rgb(90, 89, 89);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    display: block;
    float: right;
    
}

.beef{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height:88%;
    color: honeydew;
    float: right;
    background-color: rgb(90, 89, 89);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    display: block;
    float: right;
}

.sushi{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height:88%;
    color: honeydew;
    float: right;
    background-color: rgb(90, 89, 89);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    display: block;
    float: right;
}

h2{
    
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 15px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;

}

p{
    margin-top: 44px;
    padding: 10px;
  }
  
  .c1{
      background-color: rgb(212, 72, 96);
  }
  
  .c2{
      background-color:rgb(165, 19, 19);
  }
  
  .c3{
      background-color:rgb(141, 141, 22);
  }
  
